.cabecalho{
    background-color: blueviolet;
}


.principal{
    background-color: aqua;
    color: brown;
}

.rodapé{
    background-color: chartreuse;
    color: antiquewhite;
    text-align: center;
}
